@import 'fonts.css';
@import 'brands.css';
@import 'swiper.css';


*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-page {
  font-family: 'TT Lakes', sans-serif;
  background-color: #f8f8f8;
}

.catalog__title {
  display: flex;
  min-height: 56px;
  padding: 16px;
  border-top: 1px solid #D9FFF5;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
}

.title__text {
  margin: 0;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #7E7E82;
}


