@font-face {
  font-family: "TT Lakes";
  src: local("/fonts/TTLakes-Regular.ttf")
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-page {
  font-family: "TT Lakes", sans-serif;
  min-width: 320px;
}

.mobileMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 19px 24px 32px 24px;
  box-shadow: 3px 0 50px 10px #b5b5b5;
}

.upperMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 0 20px 0;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 40px;
}

.upperMenu__burger {
  margin-left: 20px;
  transition: 0.2s ease;
}

.upperMenu__logo {
  margin-right: auto;
  margin-left: 20px;
  transition: 0.2s ease;
}

.upperMenu__search {
  margin-right: 20px;
  transition: 0.2s ease;
}

.upperMenu__burger:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.upperMenu__logo:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}

.upperMenu__search:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.menu__menu-nav {
  margin-bottom: auto;
}

.menu-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-nav__item {
  display: flex;
  margin-bottom: 25px;
  cursor: pointer;
  font-weight: 500;
}

.menu-nav__link {
  display: flex;
  align-items: center;
  min-height: 32px;
}

.menu-nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
}

.menu-nav__link:hover::before {
  content: '';
  display: inline-flex;
  align-items: center;
  height: 32px;
  width: 4px;
  margin-left: -24px;
  margin-right: 20px;
  background-image: url("../img/highlight.svg");
}


.mobile-footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: auto;
  margin-left: -20px;
  margin-bottom: -40px;
}

.mobile-footer__images {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.2s ease;
}

.contacts__img {
  padding-right: 20px;
}

.contacts__img:hover {
  filter: opacity(70%);
  transition: all 0.2s;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-weight: 500;
}

.footer__mail {
  text-decoration: none;
  color: black;
  padding: 15px 0 15px 0;
}

.footer__tel {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}

.footer__lang {
  margin: 20px 0 40px 20px;
}
.lang-item {
  text-decoration: none;
  font-weight: 500;
  color: black;
  margin-right: 5px;
}

.lang-item:hover {
  color: #7e7e82;
}
